
section{
	width: 100%; 
	height: 700px;
	padding-left: 10px;
	background-position: center center; 
	background-attachment: fixed; 
	background-repeat: repeat-x;
}



.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.171) ); 
            filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.171) );
}

.jumbotron {
	background-color: #d8d8d8;
	padding-top: 285px;
	padding-bottom: 285px;
	}
#a1{background-color: #FFFFFF; height: 800px;}
#a1a{background-color: #000000; background-image: url(http://farm4.staticflickr.com/3694/10579547726_8a87f9b6e7_o.png);}
#a1b{background-color: #15F2D0; background-image: url(http://farm8.staticflickr.com/7391/10579565794_aa481639ea_o.png);}
#a1c{background-color: #15F2D0; background-image: url(http://farm6.staticflickr.com/5544/10579786703_10a808c450_o.png);}
#a2{background-color: #FFFFFF; height: 800px;}
#a2a{background-color: #6ABFE1; background-image: url(http://farm3.staticflickr.com/2857/10579786573_7c5caae44e_o.png);}
#a2b{background-color: #6ABFE1; background-image: url(http://farm6.staticflickr.com/5491/10579786543_752d8c0f27_o.png);}
#a2c{background-color: #6ABFE1; background-image: url(http://farm8.staticflickr.com/7438/10579547426_4fa15333ce_o.png);}
#a3{background-color: #FFFFFF; height: 800px;}
#a3a{background-color: #BF8CF2; background-image: url(http://farm4.staticflickr.com/3788/10579786423_ca263fffb9_o.png);}
#a3b{background-color: #BF8CF2; background-image: url(http://farm8.staticflickr.com/7297/10579547386_807dd3c4dc_o.png);}
#a3c{background-color: #BF8CF2; background-image: url(http://farm3.staticflickr.com/2862/10579547366_5719e36d01_o.png);}