@charset "utf-8";

body{
	font-family:'Courier New';
	background-color: #242424;
	font-weight: bolder;
}

h1{
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-weight: bold;
	color: #575757;
}

.alex{
	color:#CF6062;
}

.pj{
	color:#27A8D9;
}

.molly{
	color:#A0CC80;
}